body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 5em;
}

.container {
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 10% 30% 20%;
    grid-template-rows: repeat(5, 10em);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    border: 20px solid #336699;
}

.container div {
    padding: 10px;
    border: 1px solid #CC2233;
}


